body{
  background-color: #1A202c !important;
  
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.side-menu{
  height: 100vh;
  background-color: #171923;
  width: 200px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%;
  transition: .7s ease;
  z-index: 999;
  box-shadow: rgba(188, 182, 182, 0.403) 0px 7px 10px 0px;
}

.SideBarNav > a{
  padding: 13px 20px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  
}

.CloseIconBox{
  display: flex;
  justify-content: end;
  padding: 10px 10px;
  font-size: 50px;
}

.closeIcon > path{
  color: rgb(255, 255, 255);
  height: 30px;
}

.hamburgerLink{
  width: 100%;
  transition: .1s;
} 

.hamburgerLink:hover{
  transition: .3s;
  background-color: #4e4f4f40;

}

.side-menu.active{
right: 0;
transition: .4s ease;
-webkit-transition: .4s ease;

}