


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
    background-color: #171923;
    min-height: 10vh;
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-top: 0;
    border-left: 0;;
    border-right: 0;
}

.logoIcon{
    height: 25px;
    width: 25px;
    letter-spacing: 1px;
    
}
.navbarNav, .menu{
    display: flex;
    align-items: center;
    padding: 0;
    gap: 8px;
   
}

.items{
    list-style: none;
    font-family: sans-serif;
    font-size: 18px;
    cursor: pointer;
    padding: 5px 10px;
    cursor: pointer;
}

.menuIcon{
    font-size: 2rem;
}

.navbarNav > .items:last-child{
    display: none;
    padding: 0;
    
}

.navbarNav > .items:nth-child(4){
    background-color: transparent;
    border: 1px solid #68D391;
    border-radius: 7px;
    color: #68D391;
    font-weight: 400;
    transition: .3s;
}


.navbarNav > .items:nth-child(4):hover{
    background-color: #68D391;
    transition: .3s;
    color: #fff;
    border: 1px solid transparent;
}

.logo{
    user-select: none;
    font-weight: 400;
    display: flex;
    align-items: center;
    
}


.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.footer{
    margin-top: auto;
    min-height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171923;
    border: 1px solid #ffffff29;
    border-bottom: 0;
    border-left: 0;;
    border-right: 0;
}

.footer > p {
    font-size: 16px;
}

.hero{
    background: url(../public/audis4.jpg) no-repeat;
    background-attachment: fixed;
    background-position-y: -50px;
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}

.hero::before{
    position: absolute;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.696);
    bottom: 0;
    content: '';
}

 .hero::after{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.505);
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
} 

.welcome{
    position: absolute;
    z-index: 20;
    text-align: center;
}

.welcome > p{
    font-size: 45px;
    font-weight: 400;
    text-align: center;

}

.buttonsHero > button{
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: none;
    padding: 8px 40px;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 10px;
}

.buttonsHero > button:nth-child(2){
    background-color: rgba(252, 252, 252, 0.8);
    color: #000;
}

@keyframes downIconAnimation {
    0%,
    20%,
    50%,
    80%,
    100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(5px);

    }
    60%{
        transform: translateY(3px);
    }
}

.buttonsHero{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}

.downIcon{
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
    animation: downIconAnimation 1.5s ease 0s infinite normal none running;
    --webkit-animation: downIconAnimation 1.5s ease 0s infinite normal none running;
}


.TopBrands{
    background: transparent;
    width: 100%;
    height: auto;
    padding: 50px 0;
    text-align: center;
    position: relative;
}

.aboutUsHeader{
    font-style: 40px;
    font-weight: 500;
    color: #d1d1d4;
    padding-bottom: 5px;
}

.aboutUsInfo{
    font-style: 20px;
    font-weight: 300;
    color: #a5a5a9;
}


.TopBrands::after{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #ffffff29;
    content: '';
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    border-top: 0;
    border-left: 0;
    border-right: 0;
} 

.cars_gridBox:nth-child(1){
    margin-top: 20px;
}

.cars_gridBox{
    margin-bottom: 20px;
}

.carBlog{
    height: 100%;
    width: 100%;
    border: 1px solid rgb(143, 145, 143);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
}

.gridBoxImage{
    width: 250px;
    height: 150px;
    background-size: cover;
}

.topSideCarBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

}   

.textsCarBlog{
    width: 100%;
}

.gridBoxText{
    width: 100%;
    padding: 10px 20px;
    
}

.gridBoxText > div > h2{
    font-size: 30px;
    color: #c8c8cb;
}

.gridBoxText > div > h4{
    font-size: 20px;
    color: #ecf00edd;
}

.grigBoxCarInfo > p{
    color: #c8c8cb;
}

.grigBoxCarInfo > p + p{
    margin-top: 2px;
}

.carsImage{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.headerCarsPage{
    
    font-weight: 500;
    margin-bottom: 10px;
}

.carsPage{
    padding-top: 30px;
}

.InputSearchPanel{
    background-color: transparent;
    margin-bottom: 15px;
    width: 300px;
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: none;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
}

.mui-style-1x51dt5-MuiInputBase-input-MuiInput-input{
    color: wheat;
}

.changePanels{
    text-align: center;
    padding-bottom: 10px;
}

.changePanels > button{
    padding: 5px 10px;
    background-color: transparent;
    color: #fff;
    border: #fff solid 1px;
    border-radius: 5px;
}

@media screen and (max-width: 565px){
    .navbarNav > .items:last-child{
        display: block;
    }

    .navbarNav > .items{
        display: none;
    }

   
}

@media screen and (max-width: 385px){
    .buttonsHero{
        flex-direction: column;
    }

    .buttonsHero > button + button{
        margin-top: 10px;
    }
   
}

@media screen and (max-width: 330px){
    .welcome > p{
        font-size: 35px;
        
    }
    .buttonsHero > button{
        margin: 0;
    }
    .hero{ 
        height: 500px;     
    }
}

@media screen and (max-width: 440px){
    .carBlog{
        height: 100%;
        width: 250px;
        border: 1px solid rgb(143, 145, 143);
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 440px){
    .footer > p {
        font-size: 10px;
    }
}